*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
 background-image: url(../img/background.jpg);
 background-size: cover;
 padding-bottom: 10px;
 padding-top: 10px;
}

.container{
 position: relative;
 margin: auto;
 width: 60%;
}

header{
 position: relative;
 height: 240px;
 width: 100%;
 background-color: #666666;
 display: inline-block;
 top: 3px;
}

.header-image{
 background-image: url(../img/header-background.jpg);
 background-size: cover;
 border: 5px white solid;
 height: 85%;
}

ul{
 list-style-type: none;
 overflow: hidden;
}

li{
 float: left;
}

li a{
 display: block;
 color: white;
 text-align: center;
 text-decoration: none;
 font-size: 11px;
 padding: 12px 21px;

}

.three-column{
 width: 100%;
 margin-top: 5px;
}

.three-column:after {
 content: "";
 display: table;
 clear: both;
}

.first-column{
 float: left;
 background-color: brown;
 width: 20%;
}

.second-column{
 float: left;
 background-color: white;
 width: 50%;
 margin-left: 34px;
 margin-right: 34px;
}

.third-column{
 float: right;
 width: 20%;
 margin-bottom: 10px;
}

.first-widget{
 background-color: blue;
 margin-bottom: 10px;
}
.second-widget{
 background-color: pink;
 margin-bottom: 10px;
}

.third-widget{
 background-color: white;
}

footer{
 position: relative;
 background-color: white;;
 height: 100px;
 bottom: 5px;
}
